<h1>Redirect Notice</h1>
<p>You are about to leave the app and visit an external site.</p>
<p>Do you want to proceed?</p>
<%= link_to "Go to #{@target_url}", @target_url %>
<br>
<%= link_to 'Cancel', :back %>
