<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <% 
    # Use the object's formatted time methods to get the correct local time
    time_value = case field.attribute
                 when :open_time
                   f.object.formatted_open_time&.strftime("%H:%M") || ""
                 when :close_time
                   f.object.formatted_close_time&.strftime("%H:%M") || ""
                 else
                   ""
                 end
  %>
  <%= f.time_field field.attribute, value: time_value %>
</div>