<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <% 
    # Use the formatted time methods to get the correct local time
    formatted_time = if field.attribute == :open_time
                       f.object.formatted_open_time
                     elsif field.attribute == :close_time
                       f.object.formatted_close_time
                     end
    time_value = formatted_time&.strftime("%H:%M") || ""
  %>
  <%= f.time_field field.attribute, value: time_value %>
</div>