<p style = "margin-top: 10px;" >Thank you for contacting us about adding or claiming a nonprofit on the Giving Connection platform. After we verify the nonprofit organization you specified in your message, we will contact you to set up an account. You should expect to hear back from us within 1-2 weeks.</p>
<p style = "margin-top: 10px;">With gratitude,<br>The Giving Connection Team</p>
