= @form.check_box(@record_attr, @options, @value, nil)
label for=@options[:id] class="px-2 py-1.5 border border-gray-6 rounded-full text-gray-2 text-xs whitespace-nowrap"
  = content ? content : @value
