= check_box_tag(@name, @value, @checked, @options)
label for=@options[:id] class="px-2 py-1.5 text-xs whitespace-nowrap rounded-full border transition cursor-pointer hover:bg-gray-5 border-gray-6 text-gray-2"
  = content ? content : @value
