.pb-terms {
  padding: 0 32px 118px;

  @media (min-width: 640px) {
    padding-bottom: 147px;
  }
}

.pl-blur-desk {
  padding-left: 64px;

  @media (min-width: 1024px) {
    padding-left: 128px;
  }

  @media (min-width: 1280px) {
    padding-left: 320px;
  }
}

.pr-blur-desk {
  padding-right: 80px;
  padding-top: 80px;

  @media (min-width: 1024px) {
    padding-right: 200px;
  }

  @media (min-width: 1280px) {
    padding-right: 410px;
  }
}