.svg-xs-screen {
  width: 373px;
  height: 342px; 

  @media (max-width: 374px) {
    width: 310px;
  }
}

.svg-landing {
  height: 138px;
}

.landing-image {
  &--desk {
    display: none;

    @media (min-width: 425px) {
      display: flex;
      justify-content: center;
    }
  }

  &--mob {
    display: flex;
    justify-content: center;

    @media (min-width: 425px) {
      display: none;
    }
  }
}