button type="button" class="px-2 py-1.5 border border-gray-6 rounded-full text-gray-2 text-xs whitespace-nowrap" data-action="click->modal#open"
  = inline_svg_tag "more.svg", class: 'h-4 w-4 fill-current text-gray-2'