@import "/settings/variables";

footer {
  color: $copy-white;
  background-color: $primary-dark-blue;
}

.c-footer {
  max-width: 1140px;
  margin: auto;
  padding: 43px 21px 0;

  &--upper-content {
    display: flex;
    flex-direction: column;
    padding: 0 10px 0px;

    @media (min-width: 769px) {
      flex-direction: row;
      justify-content: space-around;
      padding: 0 0 51px;
    }
  }

  &--logo {
    display: none;

    @media (min-width: 769px) {
      display: flex;
      align-items: center;
    }
  }

  &--links {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;

    @media (min-width: 769px) {
      padding-bottom: 0;
    }
  }

  &--media {
    width: 165px;
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    line-height: 32px;
    margin-bottom: 30px;
    padding-left: 4px;

    @media (min-width: 769){
      padding-left: 0px;
      margin-bottom: 35px;
    }
  }

  &--email {
    display: none;

    @media (min-width: 769px) {
      display: block
    }
  }

  &--content {
    color: $secondary-seafoam;
    padding: 26px 0 39px;
    font-size: 12px;
    line-height: 22px;

    @media (min-width: 769px) {
      padding: 38px 0 60px 0;
    }
  }

  
  @media (min-width: 769px) {
    padding-top: 84px;
  }
}