@import "/settings/variables";

.navbar {
  display: flex;
  align-items: center;
  padding: 0 24px;
  height: 79px;
  color: $copy-white;
  background-color: $primary-dark-blue;
  position: relative;
  z-index: 999;

  @media (min-width: 769px) {
    height: 91px;
  }
  
  &--mobile {
    &::after {
      content: "";
      flex: 1;
    }
  
    &__menu {
      flex: 1;
    }
  
    @media (min-width: 769px) {
      display: none;
      flex: none;
    }
  }

  &--desktop {
    display: none;
    
    @media (min-width: 769px) {
      display: flex;
      justify-content: space-between;
      font-weight: 500px;
      font-size: 14px;
    }

    @media (min-width: 1024px) {
      padding: 0 49px 0 39px ;
    }

    @media (min-width: 1280px) {
      padding: 0 149px 0 139px;
    }
  }
}
