<div class="stars-wrapper"><svg class="stars" width="100%" height="100%" preserveAspectRatio="none"><circle class="star" cx="11.03%" cy="4.9%" r="0.7"></circle><circle class="star" cx="97.04%" cy="37.31%" r="1.1"></circle><circle class="star" cx="5.7%" cy="34.11%" r="0.7"></circle><circle class="star" cx="52.34%" cy="45.37%" r="1.4"></circle><circle class="star" cx="56.46%" cy="74.36%" r="1"></circle><circle class="star" cx="89.9%" cy="87.78%" r="1.1"></circle><circle class="star" cx="27.99%" cy="67.43%" r="0.7"></circle><circle class="star" cx="92.24%" cy="72.51%" r="1.5"></circle><circle class="star" cx="48.82%" cy="48.88%" r="1"></circle><circle class="star" cx="55.12%" cy="8.86%" r="0.8"></circle><circle class="star" cx="37.2%" cy="89.83%" r="0.5"></circle><circle class="star" cx="15.49%" cy="59.21%" r="1.3"></circle><circle class="star" cx="74.81%" cy="49.67%" r="1.4"></circle><circle class="star" cx="47.2%" cy="58.24%" r="1.4"></circle><circle class="star" cx="71.71%" cy="90.29%" r="0.8"></circle><circle class="star" cx="10.52%" cy="96.26%" r="1.4"></circle><circle class="star" cx="7.31%" cy="46.09%" r="1.2"></circle><circle class="star" cx="84.27%" cy="6.83%" r="1.4"></circle><circle class="star" cx="44.9%" cy="40.1%" r="1.3"></circle><circle class="star" cx="8.49%" cy="77.12%" r="1.1"></circle><circle class="star" cx="83.74%" cy="52.3%" r="0.5"></circle><circle class="star" cx="26.25%" cy="86.01%" r="0.9"></circle><circle class="star" cx="0.18%" cy="19.81%" r="1.1"></circle><circle class="star" cx="18.76%" cy="53.95%" r="0.7"></circle><circle class="star" cx="72.27%" cy="4.95%" r="1.1"></circle><circle class="star" cx="3.1%" cy="49.39%" r="1.2"></circle><circle class="star" cx="75.34%" cy="14.87%" r="1.3"></circle><circle class="star" cx="27.3%" cy="40.73%" r="0.9"></circle><circle class="star" cx="74.43%" cy="22.98%" r="0.8"></circle><circle class="star" cx="57.24%" cy="60.7%" r="1.4"></circle><circle class="star" cx="99.04%" cy="5.7%" r="1.4"></circle><circle class="star" cx="36.82%" cy="36.78%" r="1.5"></circle><circle class="star" cx="23.24%" cy="37.93%" r="1.4"></circle><circle class="star" cx="77.55%" cy="89.32%" r="1.3"></circle><circle class="star" cx="4.92%" cy="33.44%" r="1.5"></circle><circle class="star" cx="29.17%" cy="20.45%" r="0.6"></circle><circle class="star" cx="7.57%" cy="67.55%" r="1.1"></circle><circle class="star" cx="88.29%" cy="29.11%" r="1.4"></circle><circle class="star" cx="33.69%" cy="63.4%" r="0.8"></circle><circle class="star" cx="6.73%" cy="53.86%" r="0.9"></circle><circle class="star" cx="15.53%" cy="26.6%" r="1.1"></circle><circle class="star" cx="48.43%" cy="65.66%" r="0.9"></circle><circle class="star" cx="11.45%" cy="27.89%" r="1.2"></circle><circle class="star" cx="65%" cy="65.59%" r="1.4"></circle><circle class="star" cx="66.5%" cy="67.02%" r="0.8"></circle><circle class="star" cx="19.76%" cy="67.44%" r="1.5"></circle><circle class="star" cx="84.69%" cy="65.57%" r="1.1"></circle><circle class="star" cx="70.07%" cy="80.88%" r="0.6"></circle><circle class="star" cx="19.69%" cy="62.24%" r="0.6"></circle><circle class="star" cx="75.43%" cy="92.96%" r="0.7"></circle><circle class="star" cx="85.45%" cy="32.69%" r="1.2"></circle><circle class="star" cx="52.82%" cy="21.26%" r="0.6"></circle><circle class="star" cx="17.48%" cy="4.7%" r="1"></circle><circle class="star" cx="27.38%" cy="56.76%" r="1.2"></circle><circle class="star" cx="6.35%" cy="98.54%" r="1.1"></circle><circle class="star" cx="0.72%" cy="19.76%" r="0.7"></circle><circle class="star" cx="8.25%" cy="33.05%" r="1"></circle><circle class="star" cx="1.05%" cy="57.03%" r="1.2"></circle><circle class="star" cx="44.43%" cy="20.24%" r="0.5"></circle><circle class="star" cx="75.23%" cy="62.64%" r="0.6"></circle><circle class="star" cx="49.04%" cy="30.04%" r="1.4"></circle><circle class="star" cx="22.88%" cy="14.06%" r="1"></circle><circle class="star" cx="82.03%" cy="55.04%" r="1"></circle><circle class="star" cx="38.53%" cy="27.9%" r="1.5"></circle><circle class="star" cx="37.98%" cy="30.64%" r="1.3"></circle><circle class="star" cx="64.55%" cy="96.44%" r="0.7"></circle><circle class="star" cx="42.1%" cy="5.23%" r="0.6"></circle><circle class="star" cx="83.85%" cy="15.77%" r="0.9"></circle><circle class="star" cx="74.01%" cy="22.9%" r="1.3"></circle><circle class="star" cx="98.32%" cy="46.45%" r="1.1"></circle><circle class="star" cx="6.63%" cy="82.38%" r="1.1"></circle><circle class="star" cx="81.18%" cy="13.36%" r="1.4"></circle><circle class="star" cx="83.01%" cy="45.82%" r="1.4"></circle><circle class="star" cx="61.01%" cy="55.3%" r="1"></circle><circle class="star" cx="88.96%" cy="25.13%" r="1"></circle><circle class="star" cx="74.69%" cy="88.36%" r="1.2"></circle><circle class="star" cx="36.62%" cy="76.19%" r="0.8"></circle><circle class="star" cx="28.74%" cy="26.82%" r="0.6"></circle><circle class="star" cx="65.29%" cy="24.38%" r="0.7"></circle><circle class="star" cx="32.3%" cy="21.47%" r="1.4"></circle><circle class="star" cx="0.11%" cy="70.52%" r="0.6"></circle><circle class="star" cx="46.38%" cy="30.27%" r="0.8"></circle><circle class="star" cx="79.75%" cy="85.87%" r="1.2"></circle><circle class="star" cx="95.82%" cy="79.07%" r="0.9"></circle><circle class="star" cx="71.19%" cy="79.58%" r="1.3"></circle><circle class="star" cx="52.39%" cy="38.68%" r="0.9"></circle><circle class="star" cx="96.98%" cy="65.64%" r="1.2"></circle><circle class="star" cx="61.3%" cy="34.2%" r="0.6"></circle><circle class="star" cx="31.53%" cy="33.71%" r="1.1"></circle><circle class="star" cx="63.22%" cy="22.07%" r="0.9"></circle><circle class="star" cx="24.73%" cy="71.54%" r="1.3"></circle><circle class="star" cx="25.79%" cy="17.23%" r="1.3"></circle><circle class="star" cx="3.51%" cy="18.11%" r="0.9"></circle><circle class="star" cx="16.8%" cy="15.03%" r="1.4"></circle><circle class="star" cx="32.56%" cy="78.59%" r="1.3"></circle><circle class="star" cx="0.26%" cy="60.96%" r="1.3"></circle><circle class="star" cx="50.73%" cy="27.5%" r="1.4"></circle><circle class="star" cx="28.26%" cy="39.94%" r="1.3"></circle><circle class="star" cx="44.73%" cy="99.63%" r="0.8"></circle><circle class="star" cx="63.64%" cy="43.85%" r="0.8"></circle><circle class="star" cx="27.33%" cy="89.74%" r="0.9"></circle><circle class="star" cx="0.5%" cy="38.4%" r="1.1"></circle><circle class="star" cx="39.66%" cy="30.94%" r="1.5"></circle><circle class="star" cx="23.71%" cy="27.52%" r="0.8"></circle><circle class="star" cx="32.03%" cy="97.78%" r="1"></circle><circle class="star" cx="60.41%" cy="40.85%" r="1"></circle><circle class="star" cx="32.07%" cy="57.06%" r="0.8"></circle><circle class="star" cx="31.15%" cy="86.06%" r="1"></circle><circle class="star" cx="58.65%" cy="48.82%" r="1.4"></circle><circle class="star" cx="67.98%" cy="81.02%" r="1.3"></circle><circle class="star" cx="60.05%" cy="93.29%" r="0.8"></circle><circle class="star" cx="70.84%" cy="4.72%" r="1"></circle><circle class="star" cx="19.28%" cy="39.78%" r="1.4"></circle><circle class="star" cx="59.42%" cy="85.41%" r="1.4"></circle><circle class="star" cx="49.43%" cy="7.86%" r="0.6"></circle><circle class="star" cx="77.28%" cy="53.17%" r="1.1"></circle><circle class="star" cx="73.43%" cy="39.05%" r="0.5"></circle><circle class="star" cx="67.4%" cy="25.43%" r="1.1"></circle><circle class="star" cx="52.4%" cy="62.98%" r="1.4"></circle><circle class="star" cx="75.87%" cy="83.09%" r="1.2"></circle><circle class="star" cx="79.67%" cy="4.56%" r="0.5"></circle><circle class="star" cx="23.87%" cy="82.82%" r="0.6"></circle><circle class="star" cx="15.9%" cy="64.5%" r="1"></circle><circle class="star" cx="41.78%" cy="93.55%" r="1.5"></circle><circle class="star" cx="17.6%" cy="39.68%" r="1"></circle><circle class="star" cx="4.66%" cy="13.81%" r="1.3"></circle><circle class="star" cx="0.29%" cy="39.65%" r="1"></circle><circle class="star" cx="70.95%" cy="54.5%" r="0.9"></circle><circle class="star" cx="3.06%" cy="32.58%" r="1.3"></circle><circle class="star" cx="19.97%" cy="80.04%" r="0.5"></circle><circle class="star" cx="81.43%" cy="66.5%" r="1.2"></circle><circle class="star" cx="51.69%" cy="57.98%" r="1.5"></circle><circle class="star" cx="9.2%" cy="43.97%" r="0.6"></circle><circle class="star" cx="67.35%" cy="69.71%" r="1.2"></circle><circle class="star" cx="79.32%" cy="58.23%" r="1.4"></circle><circle class="star" cx="46.86%" cy="49.27%" r="1.4"></circle><circle class="star" cx="73.06%" cy="21.96%" r="0.9"></circle><circle class="star" cx="74.29%" cy="77.16%" r="1.2"></circle><circle class="star" cx="69.78%" cy="4.15%" r="0.6"></circle><circle class="star" cx="36.69%" cy="80.07%" r="0.9"></circle><circle class="star" cx="6.39%" cy="59.07%" r="0.6"></circle><circle class="star" cx="65.03%" cy="12.36%" r="1"></circle><circle class="star" cx="92.78%" cy="22.79%" r="1"></circle><circle class="star" cx="78.34%" cy="66.87%" r="0.9"></circle><circle class="star" cx="57.44%" cy="12.87%" r="1.2"></circle><circle class="star" cx="63.49%" cy="46.79%" r="0.9"></circle><circle class="star" cx="86.42%" cy="30.76%" r="0.9"></circle><circle class="star" cx="6.26%" cy="69.52%" r="1.3"></circle><circle class="star" cx="5.29%" cy="99.17%" r="1.4"></circle><circle class="star" cx="98.55%" cy="9.39%" r="1"></circle><circle class="star" cx="79.91%" cy="71.1%" r="1.4"></circle><circle class="star" cx="85.65%" cy="65.22%" r="1.2"></circle><circle class="star" cx="87.81%" cy="57.99%" r="1"></circle><circle class="star" cx="31.58%" cy="2.41%" r="0.5"></circle><circle class="star" cx="73.74%" cy="64.72%" r="0.5"></circle><circle class="star" cx="0.09%" cy="99.49%" r="0.8"></circle><circle class="star" cx="59.32%" cy="62.34%" r="0.8"></circle><circle class="star" cx="90.96%" cy="7.88%" r="0.5"></circle><circle class="star" cx="99.26%" cy="51.04%" r="1.2"></circle><circle class="star" cx="11.76%" cy="27.79%" r="0.8"></circle><circle class="star" cx="95.04%" cy="7.37%" r="1.3"></circle><circle class="star" cx="72.85%" cy="19.92%" r="0.7"></circle><circle class="star" cx="64.1%" cy="58.51%" r="0.6"></circle><circle class="star" cx="63.59%" cy="92.86%" r="1.1"></circle><circle class="star" cx="3.54%" cy="88.07%" r="0.6"></circle><circle class="star" cx="54.34%" cy="67.61%" r="1.3"></circle><circle class="star" cx="42.34%" cy="46.64%" r="1.3"></circle><circle class="star" cx="25.74%" cy="59.93%" r="1.1"></circle><circle class="star" cx="65.29%" cy="65.58%" r="0.5"></circle><circle class="star" cx="99.17%" cy="31.16%" r="1.3"></circle><circle class="star" cx="46.84%" cy="76.82%" r="1.4"></circle><circle class="star" cx="29.58%" cy="78.4%" r="0.9"></circle><circle class="star" cx="51.56%" cy="71.71%" r="1.2"></circle><circle class="star" cx="3.04%" cy="37.97%" r="1.3"></circle><circle class="star" cx="74.99%" cy="38.12%" r="0.9"></circle><circle class="star" cx="52.71%" cy="99.39%" r="0.7"></circle><circle class="star" cx="86.79%" cy="78.23%" r="1.5"></circle><circle class="star" cx="56.39%" cy="14.28%" r="1.4"></circle><circle class="star" cx="12.71%" cy="13.3%" r="1.4"></circle><circle class="star" cx="29.29%" cy="28.81%" r="1.2"></circle><circle class="star" cx="74.5%" cy="33.91%" r="1.1"></circle><circle class="star" cx="13.74%" cy="83.08%" r="0.7"></circle><circle class="star" cx="32.74%" cy="30.62%" r="1"></circle><circle class="star" cx="58.75%" cy="95.45%" r="1"></circle><circle class="star" cx="20.14%" cy="99.88%" r="0.6"></circle><circle class="star" cx="20.73%" cy="39.23%" r="1.1"></circle><circle class="star" cx="34.13%" cy="61.94%" r="1.3"></circle><circle class="star" cx="92.95%" cy="31.67%" r="1.1"></circle><circle class="star" cx="53.02%" cy="18.07%" r="1.1"></circle><circle class="star" cx="33.81%" cy="95.11%" r="1.3"></circle><circle class="star" cx="96.46%" cy="53.92%" r="1.1"></circle><circle class="star" cx="58.44%" cy="68.18%" r="0.6"></circle><circle class="star" cx="64.97%" cy="41.54%" r="0.7"></circle><circle class="star" cx="44.84%" cy="40.08%" r="0.8"></circle><circle class="star" cx="34%" cy="79.49%" r="0.8"></circle><circle class="star" cx="64.14%" cy="70.25%" r="0.6"></circle><circle class="star" cx="30.15%" cy="99.7%" r="0.5"></circle><circle class="star" cx="45.38%" cy="53.93%" r="1.4"></circle><circle class="star" cx="3.54%" cy="89.58%" r="1.1"></circle><circle class="star" cx="3.38%" cy="84.42%" r="1.1"></circle></svg>
  <svg
        class="stars" width="100%" height="100%" preserveAspectRatio="none">
    <circle class="star" cx="6.29%" cy="58.67%" r="0.7"></circle>
    <circle class="star" cx="96.78%" cy="83.11%" r="1.1"></circle>
    <circle class="star" cx="13.33%" cy="63.31%" r="1.1"></circle>
    <circle claass="star" cx="75.13%" cy="86.15%" r="0.6"></circle>
    <circle class="star" cx="98.57%" cy="41.32%" r="0.8"></circle>
    <circle class="star" cx="20.7%" cy="30.49%" r="1.3"></circle>
    <circle class="star" cx="4.96%" cy="88.82%" r="0.6"></circle>
    <circle class="star" cx="5.14%" cy="5.23%" r="0.8"></circle>
    <circle class="star" cx="45.22%" cy="80.49%" r="0.6"></circle>
    <circle class="star" cx="50.45%" cy="91.27%" r="0.6"></circle>
    <circle class="star" cx="59.09%" cy="66.71%" r="1.2"></circle>
    <circle class="star" cx="33.29%" cy="94.02%" r="1.3"></circle>
    <circle class="star" cx="55.88%" cy="43.62%" r="1.2"></circle>
    <circle class="star" cx="62.24%" cy="67.99%" r="1.2"></circle>
    <circle class="star" cx="29.11%" cy="40.03%" r="1.5"></circle>
    <circle class="star" cx="49.2%" cy="20.21%" r="0.7"></circle>
    <circle class="star" cx="25.11%" cy="3.8%" r="1.1"></circle>
    <circle class="star" cx="92.83%" cy="33.56%" r="1.5"></circle>
    <circle class="star" cx="94.38%" cy="85.07%" r="0.6"></circle>
    <circle class="star" cx="84.59%" cy="20.79%" r="1.5"></circle>
    <circle class="star" cx="24.88%" cy="72.16%" r="0.9"></circle>
    <circle class="star" cx="46.3%" cy="43.27%" r="1.5"></circle>
    <circle class="star" cx="35.14%" cy="54.66%" r="0.7"></circle>
    <circle class="star" cx="43.98%" cy="30.08%" r="0.6"></circle>
    <circle class="star" cx="40.35%" cy="13%" r="1.4"></circle>
    <circle class="star" cx="95.58%" cy="15.21%" r="0.6"></circle>
    <circle class="star" cx="18.52%" cy="46.2%" r="1.4"></circle>
    <circle class="star" cx="38.95%" cy="44.94%" r="1.1"></circle>
    <circle class="star" cx="78.93%" cy="24.09%" r="1"></circle>
    <circle class="star" cx="24.15%" cy="91.82%" r="0.9"></circle>
    <circle class="star" cx="26.54%" cy="51.17%" r="1.3"></circle>
    <circle class="star" cx="10.94%" cy="26.89%" r="1.4"></circle>
    <circle class="star" cx="70.12%" cy="48.66%" r="0.8"></circle>
    <circle class="star" cx="36.88%" cy="15.87%" r="0.7"></circle>
    <circle class="star" cx="90.95%" cy="59.43%" r="0.9"></circle>
    <circle class="star" cx="63.89%" cy="50.31%" r="1.4"></circle>
    <circle class="star" cx="89.24%" cy="20.88%" r="0.6"></circle>
    <circle class="star" cx="26.61%" cy="45.25%" r="1.3"></circle>
    <circle class="star" cx="25.71%" cy="5.86%" r="1.4"></circle>
    <circle class="star" cx="79.75%" cy="82.29%" r="1.1"></circle>
    <circle class="star" cx="7.34%" cy="26.48%" r="0.9"></circle>
    <circle class="star" cx="51.73%" cy="70.34%" r="1.1"></circle>
    <circle class="star" cx="29.98%" cy="80.82%" r="1.5"></circle>
    <circle class="star" cx="35%" cy="5.35%" r="0.9"></circle>
    <circle class="star" cx="34.5%" cy="8.75%" r="0.9"></circle>
    <circle class="star" cx="59.51%" cy="47.62%" r="1.3"></circle>
    <circle class="star" cx="16.52%" cy="72.01%" r="0.9"></circle>
    <circle class="star" cx="42.84%" cy="44.45%" r="1"></circle>
    <circle class="star" cx="62.88%" cy="20.88%" r="1.3"></circle>
    <circle class="star" cx="45.26%" cy="14.01%" r="1.3"></circle>
    <circle class="star" cx="10.87%" cy="24.31%" r="1.4"></circle>
    <circle class="star" cx="51.82%" cy="56.19%" r="0.9"></circle>
    <circle class="star" cx="83.68%" cy="96.82%" r="1.3"></circle>
    <circle class="star" cx="89.93%" cy="35.55%" r="0.8"></circle>
    <circle class="star" cx="51.32%" cy="85.41%" r="0.7"></circle>
    <circle class="star" cx="15.03%" cy="19.61%" r="1.4"></circle>
    <circle class="star" cx="35.59%" cy="25.03%" r="0.9"></circle>
    <circle class="star" cx="37.08%" cy="94.15%" r="1.3"></circle>
    <circle class="star" cx="34.33%" cy="33.08%" r="0.6"></circle>
    <circle class="star" cx="13.14%" cy="48.96%" r="1.4"></circle>
    <circle class="star" cx="46.33%" cy="54.11%" r="0.9"></circle>
    <circle class="star" cx="3.56%" cy="38.31%" r="0.7"></circle>
    <circle class="star" cx="59.78%" cy="88.75%" r="0.7"></circle>
    <circle class="star" cx="17.59%" cy="67.31%" r="0.5"></circle>
    <circle class="star" cx="12.26%" cy="91.14%" r="0.5"></circle>
    <circle class="star" cx="49.1%" cy="99.78%" r="0.6"></circle>
    <circle class="star" cx="36.6%" cy="59.73%" r="0.5"></circle>
    <circle class="star" cx="77.74%" cy="58.22%" r="1"></circle>
    <circle class="star" cx="63.19%" cy="34.87%" r="0.8"></circle>
    <circle class="star" cx="14.41%" cy="80.58%" r="0.9"></circle>
    <circle class="star" cx="84.21%" cy="24.01%" r="0.5"></circle>
    <circle class="star" cx="85.28%" cy="49.65%" r="1.4"></circle>
    <circle class="star" cx="87.71%" cy="96.04%" r="1.1"></circle>
    <circle class="star" cx="24.19%" cy="14.38%" r="1.3"></circle>
    <circle class="star" cx="68.98%" cy="99.64%" r="0.5"></circle>
    <circle class="star" cx="53.57%" cy="80.97%" r="1.3"></circle>
    <circle class="star" cx="40.17%" cy="11.56%" r="1.4"></circle>
    <circle class="star" cx="9.03%" cy="10.39%" r="1.3"></circle>
    <circle class="star" cx="1.78%" cy="71.1%" r="0.5"></circle>
    <circle class="star" cx="53.67%" cy="12.67%" r="0.5"></circle>
    <circle class="star" cx="19.13%" cy="24.04%" r="1.3"></circle>
    <circle class="star" cx="27.26%" cy="37.22%" r="1"></circle>
    <circle class="star" cx="54.56%" cy="15.4%" r="1.2"></circle>
    <circle class="star" cx="47.74%" cy="50.63%" r="0.7"></circle>
    <circle class="star" cx="34.59%" cy="57.56%" r="1.1"></circle>
    <circle class="star" cx="16.03%" cy="48.21%" r="0.8"></circle>
    <circle class="star" cx="28.68%" cy="19.08%" r="1.3"></circle>
    <circle class="star" cx="38.55%" cy="11.09%" r="1.4"></circle>
    <circle class="star" cx="23.76%" cy="92.52%" r="0.9"></circle>
    <circle class="star" cx="49.04%" cy="95.63%" r="0.9"></circle>
    <circle class="star" cx="31.65%" cy="6.4%" r="0.6"></circle>
    <circle class="star" cx="56.82%" cy="59.01%" r="0.9"></circle>
    <circle class="star" cx="14.8%" cy="57.37%" r="1.3"></circle>
    <circle class="star" cx="52.85%" cy="96.45%" r="1.1"></circle>
    <circle class="star" cx="4.48%" cy="92.35%" r="1.2"></circle>
    <circle class="star" cx="19.55%" cy="95.4%" r="0.7"></circle>
    <circle class="star" cx="41.55%" cy="34.42%" r="1.1"></circle>
    <circle class="star" cx="14.26%" cy="18.85%" r="0.6"></circle>
    <circle class="star" cx="3.73%" cy="16.99%" r="1.4"></circle>
    <circle class="star" cx="3.56%" cy="54.06%" r="0.8"></circle>
    <circle class="star" cx="22.42%" cy="51.12%" r="1.4"></circle>
    <circle class="star" cx="89.23%" cy="33.64%" r="1.3"></circle>
    <circle class="star" cx="18.47%" cy="83.67%" r="1.2"></circle>
    <circle class="star" cx="32.72%" cy="54.96%" r="1.3"></circle>
    <circle class="star" cx="91.43%" cy="60.09%" r="1.2"></circle>
    <circle class="star" cx="16.68%" cy="98.71%" r="1.2"></circle>
    <circle class="star" cx="16.89%" cy="0.78%" r="1.3"></circle>
    <circle class="star" cx="9.01%" cy="48.07%" r="1.4"></circle>
    <circle class="star" cx="62.07%" cy="94.18%" r="0.6"></circle>
    <circle class="star" cx="33.44%" cy="26.96%" r="1.1"></circle>
    <circle class="star" cx="33.56%" cy="6.46%" r="1.3"></circle>
    <circle class="star" cx="62.97%" cy="53.31%" r="0.5"></circle>
    <circle class="star" cx="38.76%" cy="76.49%" r="1.5"></circle>
    <circle class="star" cx="67.23%" cy="91.19%" r="0.8"></circle>
    <circle class="star" cx="71.04%" cy="19.11%" r="0.8"></circle>
    <circle class="star" cx="88.45%" cy="43.57%" r="1.3"></circle>
    <circle class="star" cx="56.38%" cy="44.1%" r="1.1"></circle>
    <circle class="star" cx="84.93%" cy="91.01%" r="1.2"></circle>
    <circle class="star" cx="65.4%" cy="6.18%" r="0.8"></circle>
    <circle class="star" cx="48.19%" cy="85.74%" r="1.2"></circle>
    <circle class="star" cx="11.42%" cy="66.04%" r="1.2"></circle>
    <circle class="star" cx="6.62%" cy="49.69%" r="1.4"></circle>
    <circle class="star" cx="91.67%" cy="74.67%" r="1.3"></circle>
    <circle class="star" cx="95.1%" cy="88.36%" r="1.5"></circle>
    <circle class="star" cx="52.97%" cy="89.39%" r="0.9"></circle>
    <circle class="star" cx="63.87%" cy="88.72%" r="0.6"></circle>
    <circle class="star" cx="58.22%" cy="12.83%" r="1.4"></circle>
    <circle class="star" cx="73.64%" cy="49.93%" r="1.2"></circle>
    <circle class="star" cx="39.87%" cy="9.91%" r="0.5"></circle>
    <circle class="star" cx="45.77%" cy="90.6%" r="1"></circle>
    <circle class="star" cx="88.88%" cy="77.66%" r="0.7"></circle>
    <circle class="star" cx="52.22%" cy="35.54%" r="0.8"></circle>
    <circle class="star" cx="53.42%" cy="23.49%" r="0.9"></circle>
    <circle class="star" cx="31.68%" cy="87.77%" r="0.7"></circle>
    <circle class="star" cx="5.05%" cy="84.08%" r="0.9"></circle>
    <circle class="star" cx="20.81%" cy="96.69%" r="1.3"></circle>
    <circle class="star" cx="22.46%" cy="53.98%" r="1.1"></circle>
    <circle class="star" cx="73.62%" cy="26.31%" r="0.9"></circle>
    <circle class="star" cx="31.66%" cy="0.22%" r="1"></circle>
    <circle class="star" cx="97.87%" cy="77.4%" r="0.7"></circle>
    <circle class="star" cx="69.11%" cy="1.63%" r="0.8"></circle>
    <circle class="star" cx="94%" cy="81.73%" r="1"></circle>
    <circle class="star" cx="9.55%" cy="91.4%" r="1.2"></circle>
    <circle class="star" cx="14.43%" cy="20.95%" r="0.9"></circle>
    <circle class="star" cx="2.56%" cy="44.39%" r="0.6"></circle>
    <circle class="star" cx="48.14%" cy="51.68%" r="1.1"></circle>
    <circle class="star" cx="75.88%" cy="23.01%" r="0.7"></circle>
    <circle class="star" cx="50.52%" cy="16.72%" r="1.5"></circle>
    <circle class="star" cx="47.03%" cy="13.35%" r="1"></circle>
    <circle class="star" cx="33.8%" cy="22.78%" r="1.4"></circle>
    <circle class="star" cx="98.57%" cy="94.84%" r="0.5"></circle>
    <circle class="star" cx="70.68%" cy="12.2%" r="1.5"></circle>
    <circle class="star" cx="23.76%" cy="24.62%" r="0.6"></circle>
    <circle class="star" cx="54.09%" cy="60.16%" r="0.9"></circle>
    <circle class="star" cx="63.79%" cy="47.92%" r="1.2"></circle>
    <circle class="star" cx="26.47%" cy="14.37%" r="1.2"></circle>
    <circle class="star" cx="76.29%" cy="94.41%" r="1.2"></circle>
    <circle class="star" cx="48.98%" cy="70.45%" r="1.1"></circle>
    <circle class="star" cx="49.19%" cy="35.08%" r="1.5"></circle>
    <circle class="star" cx="52.18%" cy="18.73%" r="1.4"></circle>
    <circle class="star" cx="43.77%" cy="76.31%" r="1.5"></circle>
    <circle class="star" cx="46.09%" cy="17.7%" r="1.2"></circle>
    <circle class="star" cx="69.27%" cy="55.35%" r="1.4"></circle>
    <circle class="star" cx="28.19%" cy="40.51%" r="0.7"></circle>
    <circle class="star" cx="33.88%" cy="71.13%" r="1.3"></circle>
    <circle class="star" cx="3.27%" cy="91.44%" r="0.9"></circle>
    <circle class="star" cx="82.54%" cy="72.03%" r="1.1"></circle>
    <circle class="star" cx="43.96%" cy="12.22%" r="1.2"></circle>
    <circle class="star" cx="75.35%" cy="5.73%" r="1"></circle>
    <circle class="star" cx="83.11%" cy="42.28%" r="1.2"></circle>
    <circle class="star" cx="26.29%" cy="29.78%" r="1.4"></circle>
    <circle class="star" cx="15.56%" cy="86.45%" r="0.7"></circle>
    <circle class="star" cx="75.37%" cy="52.47%" r="1.1"></circle>
    <circle class="star" cx="64.67%" cy="93.75%" r="1.3"></circle>
    <circle class="star" cx="74.46%" cy="87.67%" r="0.8"></circle>
    <circle class="star" cx="42.38%" cy="70.32%" r="0.6"></circle>
    <circle class="star" cx="43.55%" cy="41.9%" r="0.6"></circle>
    <circle class="star" cx="46.68%" cy="78.07%" r="1.1"></circle>
    <circle class="star" cx="85.12%" cy="72.75%" r="1.3"></circle>
    <circle class="star" cx="63.83%" cy="17.05%" r="1.1"></circle>
    <circle class="star" cx="18.37%" cy="88.42%" r="1.1"></circle>
    <circle class="star" cx="52.73%" cy="55.27%" r="0.7"></circle>
    <circle class="star" cx="22.35%" cy="7.18%" r="0.7"></circle>
    <circle class="star" cx="73.16%" cy="37.68%" r="1.4"></circle>
    <circle class="star" cx="46.52%" cy="1.29%" r="1.2"></circle>
    <circle class="star" cx="79.08%" cy="17.15%" r="1.1"></circle>
    <circle class="star" cx="97.19%" cy="83.92%" r="0.6"></circle>
    <circle class="star" cx="11.09%" cy="20.76%" r="0.6"></circle>
    <circle class="star" cx="44.83%" cy="29.32%" r="0.7"></circle>
    <circle class="star" cx="48.57%" cy="44.94%" r="1.3"></circle>
    <circle class="star" cx="45.17%" cy="43.51%" r="1.3"></circle>
    <circle class="star" cx="21.62%" cy="13.46%" r="1.3"></circle>
    <circle class="star" cx="80.93%" cy="99.06%" r="1.2"></circle>
    <circle class="star" cx="19.64%" cy="20.41%" r="0.7"></circle>
    <circle class="star" cx="79.1%" cy="67.46%" r="0.6"></circle>
    <circle class="star" cx="25.01%" cy="46.1%" r="0.6"></circle>
    <circle class="star" cx="13.94%" cy="0.53%" r="1.1"></circle>
    <circle class="star" cx="52.31%" cy="11.19%" r="1.5"></circle>
    <circle class="star" cx="50.85%" cy="21.73%" r="1.4"></circle>
    <circle class="star" cx="69.04%" cy="83.44%" r="0.7"></circle>
  </svg><svg class="stars" width="100%" height="100%" preserveAspectRatio="none"><circle class="star" cx="14.29%" cy="83.07%" r="0.6"></circle><circle class="star" cx="75.85%" cy="83.48%" r="1.3"></circle><circle class="star" cx="15.42%" cy="82.13%" r="1.4"></circle><circle class="star" cx="76.28%" cy="94.28%" r="1.4"></circle><circle class="star" cx="57.57%" cy="67.1%" r="1.2"></circle><circle class="star" cx="53.06%" cy="19.16%" r="0.5"></circle><circle class="star" cx="16.19%" cy="41.06%" r="1"></circle><circle class="star" cx="67.12%" cy="8.53%" r="1"></circle><circle class="star" cx="55.4%" cy="70.44%" r="0.8"></circle><circle class="star" cx="51.88%" cy="51.48%" r="1.3"></circle><circle class="star" cx="24.41%" cy="11.9%" r="1.3"></circle><circle class="star" cx="61.52%" cy="9.04%" r="1.1"></circle><circle class="star" cx="40.11%" cy="55.29%" r="0.6"></circle><circle class="star" cx="83.22%" cy="8.58%" r="1"></circle><circle class="star" cx="26.34%" cy="5.28%" r="1.2"></circle><circle class="star" cx="42.77%" cy="29.74%" r="1.3"></circle><circle class="star" cx="61.64%" cy="75%" r="0.7"></circle><circle class="star" cx="98.74%" cy="18.82%" r="0.9"></circle><circle class="star" cx="55.06%" cy="66.01%" r="1.5"></circle><circle class="star" cx="44.16%" cy="48.04%" r="0.8"></circle><circle class="star" cx="66.91%" cy="15.46%" r="1.2"></circle><circle class="star" cx="85.35%" cy="44.62%" r="1"></circle><circle class="star" cx="23.58%" cy="84.6%" r="1.4"></circle><circle class="star" cx="84.59%" cy="52.58%" r="1.1"></circle><circle class="star" cx="85.83%" cy="6.79%" r="0.7"></circle><circle class="star" cx="8.3%" cy="1.1%" r="1.3"></circle><circle class="star" cx="96.18%" cy="62.58%" r="1.2"></circle><circle class="star" cx="72.42%" cy="11.02%" r="1"></circle><circle class="star" cx="14.01%" cy="19.32%" r="1.3"></circle><circle class="star" cx="35.98%" cy="98.07%" r="1.1"></circle><circle class="star" cx="0.28%" cy="74.78%" r="1.2"></circle><circle class="star" cx="20.08%" cy="18.28%" r="0.6"></circle><circle class="star" cx="50.01%" cy="14.27%" r="1.5"></circle><circle class="star" cx="11.42%" cy="19.65%" r="1.3"></circle><circle class="star" cx="66.3%" cy="77.91%" r="0.8"></circle><circle class="star" cx="20.03%" cy="85.59%" r="0.7"></circle><circle class="star" cx="39.41%" cy="15.7%" r="1.5"></circle><circle class="star" cx="68.2%" cy="89.8%" r="0.7"></circle><circle class="star" cx="6.25%" cy="68.72%" r="1.5"></circle><circle class="star" cx="32.92%" cy="97.51%" r="1"></circle><circle class="star" cx="89.38%" cy="55.73%" r="1.2"></circle><circle class="star" cx="46.66%" cy="13.77%" r="0.8"></circle><circle class="star" cx="94.99%" cy="83.8%" r="0.8"></circle><circle class="star" cx="84.43%" cy="41.91%" r="0.8"></circle><circle class="star" cx="95.16%" cy="97.56%" r="1.3"></circle><circle class="star" cx="4.98%" cy="41.07%" r="1.2"></circle><circle class="star" cx="89.68%" cy="56.87%" r="1.1"></circle><circle class="star" cx="70.2%" cy="48.89%" r="1.1"></circle><circle class="star" cx="71.07%" cy="73.52%" r="0.6"></circle><circle class="star" cx="51.24%" cy="22.74%" r="1.4"></circle><circle class="star" cx="92.74%" cy="8.76%" r="0.9"></circle><circle class="star" cx="23.31%" cy="47.46%" r="1.2"></circle><circle class="star" cx="59.4%" cy="70.56%" r="1.4"></circle><circle class="star" cx="10.91%" cy="38.97%" r="1.4"></circle><circle class="star" cx="78.3%" cy="98.23%" r="0.5"></circle><circle class="star" cx="84.17%" cy="88.57%" r="0.6"></circle><circle class="star" cx="32.9%" cy="59.27%" r="1.1"></circle><circle class="star" cx="39.57%" cy="32.98%" r="1.1"></circle><circle class="star" cx="90.14%" cy="35.38%" r="1.4"></circle><circle class="star" cx="29.14%" cy="44.24%" r="0.7"></circle><circle class="star" cx="80.24%" cy="45.78%" r="0.8"></circle><circle class="star" cx="49.66%" cy="26.35%" r="1.1"></circle><circle class="star" cx="76.42%" cy="96.25%" r="1.5"></circle><circle class="star" cx="60.26%" cy="88.92%" r="0.9"></circle><circle class="star" cx="74.24%" cy="4.23%" r="1.1"></circle><circle class="star" cx="53.55%" cy="26.6%" r="1.2"></circle><circle class="star" cx="29.08%" cy="99.99%" r="0.9"></circle><circle class="star" cx="65.19%" cy="91.22%" r="1.1"></circle><circle class="star" cx="99.75%" cy="57.74%" r="1"></circle><circle class="star" cx="48.56%" cy="71.63%" r="0.5"></circle><circle class="star" cx="9.79%" cy="28.83%" r="0.5"></circle><circle class="star" cx="81.24%" cy="46.9%" r="0.9"></circle><circle class="star" cx="34.3%" cy="74.93%" r="0.7"></circle><circle class="star" cx="26.99%" cy="10.05%" r="0.6"></circle><circle class="star" cx="54.15%" cy="37.19%" r="1"></circle><circle class="star" cx="15.04%" cy="96.61%" r="1.2"></circle><circle class="star" cx="48.52%" cy="66.72%" r="0.7"></circle><circle class="star" cx="41.62%" cy="15.7%" r="1.3"></circle><circle class="star" cx="26.25%" cy="93.79%" r="0.7"></circle><circle class="star" cx="42.01%" cy="79.07%" r="1.1"></circle><circle class="star" cx="39.19%" cy="16.3%" r="1.5"></circle><circle class="star" cx="97.52%" cy="80.52%" r="1.1"></circle><circle class="star" cx="61.54%" cy="76.54%" r="0.9"></circle><circle class="star" cx="34.2%" cy="8.04%" r="0.8"></circle><circle class="star" cx="39.02%" cy="21.41%" r="1.1"></circle><circle class="star" cx="45.96%" cy="40.31%" r="1"></circle><circle class="star" cx="83.32%" cy="92.61%" r="1.3"></circle><circle class="star" cx="48.93%" cy="92.82%" r="0.9"></circle><circle class="star" cx="89.58%" cy="9.05%" r="0.7"></circle><circle class="star" cx="5.29%" cy="50.83%" r="1.1"></circle><circle class="star" cx="72.3%" cy="87.29%" r="0.9"></circle><circle class="star" cx="84.67%" cy="77.47%" r="1.4"></circle><circle class="star" cx="29.31%" cy="63.98%" r="0.7"></circle><circle class="star" cx="48.21%" cy="65.17%" r="1.2"></circle><circle class="star" cx="20.61%" cy="57.46%" r="1.3"></circle><circle class="star" cx="1.14%" cy="82.81%" r="1"></circle><circle class="star" cx="56.34%" cy="33.26%" r="1.3"></circle><circle class="star" cx="69.29%" cy="10.28%" r="0.7"></circle><circle class="star" cx="65.31%" cy="53.06%" r="1.3"></circle><circle class="star" cx="16.71%" cy="39.55%" r="0.9"></circle><circle class="star" cx="82.13%" cy="79.3%" r="0.6"></circle><circle class="star" cx="99.48%" cy="93.49%" r="1.2"></circle><circle class="star" cx="78.39%" cy="43.93%" r="1.3"></circle><circle class="star" cx="59.12%" cy="76.98%" r="0.5"></circle><circle class="star" cx="92.17%" cy="99.3%" r="1.3"></circle><circle class="star" cx="13.61%" cy="28.56%" r="1.1"></circle><circle class="star" cx="87.08%" cy="51.23%" r="0.7"></circle><circle class="star" cx="75.36%" cy="27.66%" r="0.8"></circle><circle class="star" cx="94.4%" cy="68.65%" r="0.8"></circle><circle class="star" cx="41.03%" cy="22.69%" r="1.2"></circle><circle class="star" cx="18%" cy="21.57%" r="0.9"></circle><circle class="star" cx="55.2%" cy="59.93%" r="0.6"></circle><circle class="star" cx="91.03%" cy="91.81%" r="0.7"></circle><circle class="star" cx="31.29%" cy="57.44%" r="1.4"></circle><circle class="star" cx="2.27%" cy="89.3%" r="1"></circle><circle class="star" cx="84.26%" cy="24.01%" r="1.1"></circle><circle class="star" cx="55.9%" cy="44.28%" r="0.7"></circle><circle class="star" cx="68.92%" cy="67.37%" r="1.5"></circle><circle class="star" cx="55.35%" cy="18.28%" r="1.5"></circle><circle class="star" cx="95.52%" cy="3.2%" r="1.3"></circle><circle class="star" cx="82.99%" cy="65.31%" r="1.1"></circle><circle class="star" cx="67.96%" cy="57.88%" r="1.1"></circle><circle class="star" cx="36.35%" cy="93.91%" r="1.2"></circle><circle class="star" cx="41.67%" cy="53.39%" r="0.9"></circle><circle class="star" cx="50.51%" cy="43.5%" r="0.9"></circle><circle class="star" cx="31.95%" cy="27.88%" r="1.1"></circle><circle class="star" cx="13.66%" cy="78.14%" r="1"></circle><circle class="star" cx="27.8%" cy="97.85%" r="1.2"></circle><circle class="star" cx="65.51%" cy="87.17%" r="0.8"></circle><circle class="star" cx="45.39%" cy="70.69%" r="1.5"></circle><circle class="star" cx="88.28%" cy="25.33%" r="1.1"></circle><circle class="star" cx="66.55%" cy="90.21%" r="0.6"></circle><circle class="star" cx="93.87%" cy="72.35%" r="1.4"></circle><circle class="star" cx="34.43%" cy="53.6%" r="1.5"></circle><circle class="star" cx="18.34%" cy="46.72%" r="0.7"></circle><circle class="star" cx="28.49%" cy="88.54%" r="0.6"></circle><circle class="star" cx="70.54%" cy="61.61%" r="0.5"></circle><circle class="star" cx="90.02%" cy="69.7%" r="1"></circle><circle class="star" cx="11.67%" cy="62.79%" r="1.2"></circle><circle class="star" cx="37.56%" cy="68.68%" r="1.1"></circle><circle class="star" cx="59.09%" cy="3.75%" r="1.1"></circle><circle class="star" cx="29.73%" cy="41.81%" r="0.7"></circle><circle class="star" cx="29.54%" cy="13.01%" r="1.2"></circle><circle class="star" cx="95.64%" cy="8.11%" r="0.7"></circle><circle class="star" cx="51.18%" cy="8.76%" r="1.5"></circle><circle class="star" cx="11.87%" cy="37.47%" r="1.2"></circle><circle class="star" cx="79.83%" cy="19.67%" r="1.5"></circle><circle class="star" cx="65.81%" cy="16.58%" r="0.7"></circle><circle class="star" cx="55.93%" cy="11.72%" r="0.7"></circle><circle class="star" cx="55.62%" cy="62.75%" r="0.8"></circle><circle class="star" cx="8.2%" cy="59.55%" r="1.2"></circle><circle class="star" cx="50.23%" cy="41.24%" r="1.1"></circle><circle class="star" cx="82.16%" cy="31.05%" r="0.7"></circle><circle class="star" cx="56.06%" cy="88.93%" r="0.9"></circle><circle class="star" cx="57.08%" cy="53.32%" r="0.6"></circle><circle class="star" cx="65.59%" cy="24.82%" r="0.7"></circle><circle class="star" cx="93.14%" cy="77.52%" r="0.8"></circle><circle class="star" cx="77.37%" cy="80.99%" r="0.9"></circle><circle class="star" cx="21.29%" cy="39.01%" r="0.9"></circle><circle class="star" cx="80.37%" cy="44.27%" r="1.2"></circle><circle class="star" cx="92.4%" cy="66.66%" r="1.3"></circle><circle class="star" cx="23.72%" cy="13.65%" r="0.8"></circle><circle class="star" cx="85.18%" cy="95.88%" r="1.4"></circle><circle class="star" cx="71.41%" cy="47.31%" r="1.1"></circle><circle class="star" cx="36.51%" cy="90.31%" r="0.7"></circle><circle class="star" cx="10.17%" cy="47.09%" r="1.1"></circle><circle class="star" cx="44.89%" cy="0.82%" r="0.7"></circle><circle class="star" cx="8.88%" cy="73.69%" r="1.1"></circle><circle class="star" cx="77.56%" cy="80.07%" r="0.6"></circle><circle class="star" cx="76.63%" cy="68.68%" r="0.8"></circle><circle class="star" cx="21.89%" cy="33.86%" r="1.1"></circle><circle class="star" cx="45.38%" cy="3.7%" r="0.9"></circle><circle class="star" cx="39.13%" cy="61.19%" r="1.3"></circle><circle class="star" cx="47.47%" cy="97.22%" r="1.5"></circle><circle class="star" cx="24.01%" cy="32.11%" r="0.9"></circle><circle class="star" cx="50.23%" cy="65.46%" r="1.1"></circle><circle class="star" cx="90.1%" cy="11.24%" r="1.2"></circle><circle class="star" cx="7.26%" cy="80.31%" r="0.6"></circle><circle class="star" cx="96.47%" cy="77.29%" r="1.3"></circle><circle class="star" cx="54.93%" cy="16.33%" r="1.4"></circle><circle class="star" cx="32.2%" cy="63.69%" r="1.5"></circle><circle class="star" cx="91.04%" cy="56.84%" r="0.6"></circle><circle class="star" cx="78.92%" cy="63.55%" r="1.3"></circle><circle class="star" cx="60.53%" cy="39.77%" r="1.1"></circle><circle class="star" cx="27.85%" cy="9.39%" r="1"></circle><circle class="star" cx="79.42%" cy="90.42%" r="0.5"></circle><circle class="star" cx="62.23%" cy="0.62%" r="1.4"></circle><circle class="star" cx="5.73%" cy="90.48%" r="0.7"></circle><circle class="star" cx="47.34%" cy="85.58%" r="0.6"></circle><circle class="star" cx="13.85%" cy="23.89%" r="1"></circle><circle class="star" cx="43.93%" cy="77.11%" r="0.7"></circle><circle class="star" cx="8.19%" cy="23.18%" r="1.2"></circle><circle class="star" cx="53.48%" cy="91.82%" r="0.8"></circle><circle class="star" cx="19.58%" cy="43.72%" r="1"></circle><circle class="star" cx="20.43%" cy="79.39%" r="1.5"></circle><circle class="star" cx="71.99%" cy="18.57%" r="1"></circle><circle class="star" cx="32.84%" cy="45.71%" r="0.7"></circle><circle class="star" cx="65.52%" cy="5.81%" r="0.9"></circle><circle class="star" cx="61.65%" cy="84.17%" r="1.1"></circle><circle class="star" cx="78.67%" cy="66.69%" r="0.9"></circle></svg>
  <svg
            class="extras" width="100%" height="100%" preserveAspectRatio="none">
    <defs>
      <radialGradient id="comet-gradient"="" cx="0" cy=".5" r="0.5">
        <stop offset="0%" stop-color="rgba(255,255,255,.8)"></stop>
        <stop offset="100%" stop-color="rgba(255,255,255,0)"></stop>
      </radialGradient>
    </defs>
    <g transform="rotate(-135)">
      <ellipse class="comet comet-a" fill="url(#comet-gradient)" cx="0" cy="0" rx="150" ry="2"></ellipse>
    </g>
    <g transform="rotate(20)">
      <ellipse class="comet comet-b" fill="url(#comet-gradient)" cx="100%" cy="0" rx="150" ry="2"></ellipse>
    </g>
    <g transform="rotate(300)">
      <ellipse class="comet comet-c" fill="url(#comet-gradient)" cx="40%" cy="100%" rx="150" ry="2"></ellipse>
    </g>
  </svg>
</div>