<div data-controller="carousel" class="<%= @options %>"  data-carousel-options-value='{"navigation": {"nextEl": ".swiper-button-next", "prevEl": ".swiper-button-prev"}}'>
  <div class="swiper-wrapper">
    <% @location.images.each do |image| %>
      <div class="swiper-slide">
        <%= image_tag url_for(image), class: "object-cover w-full h-full" %>
      </div>
    <% end %>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
