@import "/settings/variables";

.c-form {
	display: flex;
	flex-direction: column;
	max-width: 375px;
	margin: auto;
	align-items: center;
	padding: 16px 24px;
	border-radius: 2px;
	font-size: 14px;
	color: $copy-gray-7;

	&--group {
		margin-bottom: 20px;
		width: 100%;
	}

	&--action {
		margin-top: 18px;
		margin-bottom: 45px;
	}
}