<table>
  <thead>
    <tr>
      <th>File</th>
      <th>Status</th>
      <th>Total</th>
      <th>Success</th>
      <th>Skipped</th>
      <th>Errors</th>
    </tr>
  </thead>
  <tbody id="import-log-rows">
    <%= render @import_logs %>
  </tbody>
</table>
