/*-------------------------------*\
       @SETTINGS #VARIABLES
\*-------------------------------*/

// PRIMARY COLORS
$primary-dark-blue: #113c7b;
$primary-medium-blue: #0782d0;
$primary-light-blue: #9abee3;
$primary-pale-blue: #e2ecf7;

// SECONDARY COLORS
$secondary-seafoam: #9ae2e0;
$secondary-salmon: #fc8383;
$secondary-gradient-blue: linear-gradient(280.35deg, #2c3e6b 2.71%, #0068af 95.46%);

// STATES
$state-success: #37ccb2;
$state-error: #f95b6e;
$state-warning: #febb5a;
$state-disabled: #eff2f7;

// TEXT
$copy-gray-7: #3c4858;
$copy-white: #ffffff;
