@import "tailwindcss/base.css";
@import "tailwindcss/components.css";
// Custom styles here

@import "tailwindcss/utilities.css";
@import '@yaireo/tagify/src/tagify';

.scroll-mt-25 {
  scroll-margin-top: 6.25rem;
}

.custom-file-input {
  visibility: hidden;
}

.tagify__input::before{
  position:static;
}

.tagify-look {
 //@apply bg-blue-medium py-1.5 pl-2 pr-1 min-h-7 inline-flex items-center text-xs text-white flex-shrink-0 rounded-6px;
  --tag-bg                  : #0782d0;
  --tag-hover               : #0782d0;
  --tag-text-color          : #FFF;
  --tags-border-color       : rgba(229, 231, 235,1);
  --tag-text-color--edit    : #111;
  --tag-pad                 : .375rem 0.25rem 0.375rem 0.5rem;
  --tag-inset-shadow-size   : 1.35em;
  --tag-remove-bg           : #0782d0;
  --tag-remove-btn-color    : #FFF;
  --tag-remove-btn-bg--hover: rgba(255, 255, 255, 0.8);
  padding-right: 6px;

  .tagify__tag > div {
    border-radius: 6px;
  }

  tagify__tag__removeBtn {
    @apply text-base;
  }
}

.pill:checked + label {
  border: 1px solid #0782D0;
  background-color: #E2ECF7;
}

.button-label:first-of-type {
  border-left: 1px solid #D3DCE6;
}

.cards-auto-grid {
  --min-grid-auto-size: 18rem;
  grid-template-columns: repeat(auto-fill, minmax(var(--min-grid-auto-size), 1fr));
}

.causes-list-auto-grid {
  --min-grid-auto-size: 6.75rem;
  grid-template-columns: repeat(auto-fill, minmax(var(--min-grid-auto-size), 1fr));
}

.interactive-btn {
  .thick-icon path {
    stroke-width: 0;
    transition: fill 150ms;
  }

  .icon path {
    transition: stroke 150ms;
  }

  .saved > path {
    fill: salmon;
    stroke: salmon;
    transition: fill 150ms, stroke 150ms;
  }

  &:hover .icon path {
    stroke: white;
  }

  &:hover .thick-icon path {
    fill: white;
  }
  
  &:hover .saved > path {
    fill: white;
    stroke: white;
  }
}