h1 = "#{@message.name} sent a message"
p = "Email: #{@message.email}"
p = "Phone: #{@message.phone}"
p = "subject: #{@message.subject}"
p = "organization_name: #{@message.organization_name}"
p = "website: #{@message.organization_website}"
p = "ein number: #{@message.organization_ein}"
p = "message content: #{@message.content}"
