h1 = "#{@message.name} sent a message"
p = "Email: #{@message.email}"
p = "Phone: #{@message.phone}"
p = "Subject: #{@message.subject}"
p = "Organization Name: #{@message.organization_name}"
p = "Organization Website: #{@message.organization_website}"
p = "EIN Number: #{@message.organization_ein}"
p = "Profile Admin Name: #{@message.profile_admin_name}"
p = "Profile Admin Email: #{@message.profile_admin_email}"
p = "Message Content: #{@message.content}"
