<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>

<% if params['action'] == 'edit' %>

  <div class="field-unit__field">
    <div data-controller="tags">
      <% values = field.data.map { |tag| tag.name }.join(', ') %>
      <input placeholder='write some tags' data-tags-target="output" 
        value="<%= values %>"  name='tags_attributes' >
    </div>
  </div>

<% else %>

<div class="field-unit__field">
  <div data-controller="tags">
    <input placeholder='write some tags' data-tags-target="output" name='tags_attributes' >
  </div>
</div>

<% end %>
