= content_tag(:button, button_options) do
  span class="grid place-items-center rounded-full w-7 h-7 bg-gray-7 bg-opacity-90 shadow dark:bg-gray-800 dark:bg-opacity-90" aria-hidden="true"
    svg class="w-5 h-4 text-blue-dark transition-colors dark:text-gray-800 group-hover:text-blue-medium" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
      path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d=@outline
