<div data-controller="places" data-action="google-maps-callback@window->places#initMap" data-places-imageurl-value="#{asset_path 'markergc.png'}">
  <div class="field-unit__label">
    <%= f.label field.attribute %>
  </div>
  <div class="field-unit__field">
    <%= f.search_field field.attribute, class: 'form-control', data: { target: "places.field", action: "keydown->places#keydown" } %>
  </div>
  <div data-target="places.map" style="height:400px;width:400px"></div>
</div>
