= @form.radio_button @record_attr, (@value), checked: @checked, class: "hidden pill", id: @radio_id
label for=@radio_id class="py-4 px-3 text-xs text-gray-2 border-y border-l-0 border-r border-gray-6 button-label"
  = @copy
