/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "base/layout";
@import "components/form/index";
@import "fonts/index";
@import "design_system/component/index";
@import "helpers/index";
@import "helpers/logo";
@import "helpers/stars_background";
@import "../../components/accordion/component";
@import "../../components/navbar/component";
@import "../../../node_modules/@yaireo/tagify/dist/tagify";
@import "../../../node_modules/swiper/swiper-bundle";

// Custom styles here
@layer utilities {
  .disabled-icon path {
    fill: #D3DCE6;
  }

  .positioned-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.scroll-mt-25 {
  scroll-margin-top: 6.25rem;
}


.tagify__input::before{
  position:static;
}

.tagify-look {
 //@apply bg-blue-medium py-1.5 pl-2 pr-1 min-h-7 inline-flex items-center text-xs text-white flex-shrink-0 rounded-6px;
  --tag-bg                  : #0782d0;
  --tag-hover               : #0782d0;
  --tag-text-color          : #FFF;
  --tags-border-color       : rgba(229, 231, 235,1);
  --tag-text-color--edit    : #111;
  --tag-pad                 : .375rem 0.25rem 0.375rem 0.5rem;
  --tag-inset-shadow-size   : 1.35em;
  --tag-remove-bg           : #0782d0;
  --tag-remove-btn-color    : #FFF;
  --tag-remove-btn-bg--hover: rgba(255, 255, 255, 0.8);
  padding-right: 6px;

  .tagify__tag > div {
    border-radius: 6px;
  }

  .tagify__tag__removeBtn {
    @apply text-base;
  }
}

.pill:checked + label {
  border: 1px solid #0782D0;
  background-color: #E2ECF7;
}

.button-label:first-of-type {
  border-left: 1px solid #D3DCE6;
}

.interactive-btn {
  .thick-icon path {
    stroke-width: 0;
    transition: fill 150ms;
  }

  .icon path {
    transition: stroke 150ms;
  }

  &:hover .icon path,
  &:hover .saved > path {
    stroke: white;
  }

  &:hover .thick-icon path,
  &:hover .saved > path {
    fill: white;
  }
}

svg.icon path {
  fill: #3C4858;
}

button:disabled {
  color: #C2CEDB;
  cursor: default;

  & path {
    fill: #C2CEDB;
  }
}

.no-pseudo-elems::after,
.no-pseudo-elems::before  {
  display: none;
}

/* Reset */

input#search-keyword-input {
  /* IE and Edge */
  &::-ms-clear,
  &::-ms-reveal {
    display: none;
    width : 0;
    height: 0;
  }

  /* Chrome and Safari */
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

/* Animations */

.spinner {
  width: 50px;
  height: 50px;
  border: 4px solid #e5e9f2;
  border-top: 4px solid #0068af;
  border-radius: 50%;
  animation-duration: 750ms;
  animation-name: spin;
  animation-iteration-count: infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

/* Admin panel populations */

input.admin-panel-population:disabled + label {
  color: #8492A6;
}

.swiper-slide {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// Popover
.labelled-icon:hover + span[role=tooltip] {
  display: inline;
}

// Underline on hover

.underline-on-hover {
  position: relative;
  padding: 0;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: #0782D0;
    transition: width 0.3s ease-in-out;
  }

  &:hover::before {
    width: 100%;
  }

}

// Expandable panel styles
#search-pills-panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

// Desktop hover behavior (screen width > 768px)
@media (min-width: 768px) {
  #tabs-wrapper:not(.is-mobile):hover #search-pills-panel {
    max-height: 1000px;
    overflow: visible;
  }
}

// Mobile behavior (screen width <= 768px)
@media (max-width: 768px) {
  #search-pills-panel {
    &.expanded {
      max-height: 1000px;
      overflow: visible;
    }
  }

  #tabs-wrapper.is-mobile {
    #search-pills-panel {
      overflow: visible;
    }
  }
}