@import "/settings/variables";

.c-input {
	display: flex;
	height: 46px;
	width: 100%;
	margin-top: 6px;
	padding: 12px 16px;
	border-radius: 6px !important;
	border: 1px solid $var-gray-5 !important;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.01);
	color: $copy-gray-7;

	&:focus {
		outline-style: none;
		border: 1px solid $primary-medium-blue !important;
	}

	&::placeholder {
		color: $var-gray-6;
		font-size: 16px;
	}
}

// Override for textareas to allow them to be larger
.c-input[rows] {
	height: auto;
	min-height: 46px;
	resize: vertical;
}