<section class="p-20 main-content__body">
  <p class="font-bold text-md">Images</p>

  <% if page.resource.images.attached? %>
    <div class="flex flex-wrap gap-4">
      <% page.resource.images.each do |img| %>
        <div class="text-center">
          <%= image_tag url_for(img.variant(resize_to_limit: [200, 200])) %>
          <div class="flex mt-2">
            <%= link_to "Set as cover", set_cover_admin_blog_path(page.resource, attachment_id: img.id), method: :post, class: "button" %>
            <%= link_to "Set as thumbnail", set_thumbnail_admin_blog_path(page.resource, attachment_id: img.id), method: :post, class: "button" %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>No images uploaded for this blog.</p>
  <% end %>
</section>
