/ FullCalendar CSS
link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/main.min.css"
/ FullCalendar JS
script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"


div data-controller="calendar-component" data-calendar-component-target="calendar" class="calendar-container"
    div class="flex align-center justify-center"
        div id="calendar" class="w-full h-full mt-2"

javascript:
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    window.calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      events: [],
      eventClick: function(info) {
        info.jsEvent.preventDefault();
        window.location = info.event.url;
      }
    });
    window.calendar.render();
  });