<div class="absolute flex space-x-1 w-50 bg-gray-100 rounded-sm border border-black divide-x divide-black">
<button class="flex hover:bg-white p-1">
<%= image_tag '/assets/default_logo_1.svg', alt: 'Default Logo', class: 'logo', width: 15, height: 15 %>
  List
</button>
<button class="flex hover:bg-white p-1">
<%= image_tag '/assets/default_logo_1.svg', alt: 'Default Logo', class: 'logo', width: 15, height: 15 %>
  Calendar  
</button>
</div>