<%= link_to(
  link_args[:path],
  method: link_args[:method],
  class: "#{btn_selector} #{button_styles}",
  data: { turbo_stream: true }
) do %>
  <%= render CauseIcon::Component.new(
    svg_name: icon_name,
    wrapper_options: { class: wrapper_styles },
    svg_options: { class: "w-4 h-auto", aria_hidden: true }
  ) %>

  <span class="<%= copy_styles %>">Save</span>
<% end %>
