<p>Welcome <%= @user&.name %>,</p>
<p style = "margin-top: 10px;">We are thrilled you are joining the Giving Connection community. We look forward to serving your nonprofit needs by making finding help and serving others easier.<br><br>You can confirm your account email through the link below:</p>
<br>
<div style = "text-align: center;">
  <%= link_to 'CONFIRM MY ACCOUNT', confirmation_url(@resource, confirmation_token: @token), class: "sm-mg-5", style: "width: 200px; height: 39px; margin-left:0%; margin-right:0%; padding: 10px 20px; font-weight: 700; text-decoration: none; background: #0782D0; border-radius: 6px; color: white;" %>
</div>
<br>
<p style = "margin-top: 10px;">With gratitude,<br>The Giving Connection Team.</p>
